.container-fluid{
    border: 5px dotted blue;
}

.btn-outline-danger {
    background-color: rgb(0, 0, 0) !important;
    border: blue;
    color: rgb(255, 0, 0);
}

.btn:hover {
    color: blueviolet !important;
}
.container {
    border: 5px solid orange;
}